{% extends "base.html" %}
{% load static %}
{% block content %}


        <div class="container-xxl py-5 bg-dark hero-header mb-5">
          <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">
              Booking
            </h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li
                  class="breadcrumb-item text-white active"
                  aria-current="page"
                >
                  Booking
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!-- Navbar & Hero End -->

      <!-- Reservation Start -->
      <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="video">
               <video id="preview-video" muted autoplay loop playsinline poster="{% static 'img/poster.png' %}" style="width:100%; height:auto; object-fit: cover;">
    <source src="{% static 'img/video.mp4' %}" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
              <button
                type="button"
                class="btn-play"
                data-bs-toggle="modal"
                data-src="{% static 'img/video.mp4' %}"
                data-bs-target="#videoModal"
              >
                <span></span>
              </button>
            </div>
          </div>
          <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
              <h5
                class="section-title ff-secondary text-start text-primary fw-normal"
              >
                Reservation
              </h5>
              <h1 class="text-white mb-4">Book A Table Online</h1>
              <form method="post" novalidate>
                {% csrf_token %} {{ form.as_p }} {% if form.errors %}
                <div class="alert alert-danger">{{ form.errors }}</div>
                {% endif %}
                <button class="btn btn-primary w-100 py-3" type="submit">
                  Book Now
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="videoModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content rounded-0">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"> Tiktok Video</h5>
              <button
                type="button"
                class="btn-play"
                data-bs-dismiss="modal"
                data-src="{% static 'img/video.mp4' %}"
                data-bs-target="#videoModal"
                aria-label="Close"
              >
              <span></span>
            </button>
            </div>
            <div class="modal-body">
              <!-- 16:9 aspect ratio -->
              <div class="ratio ratio-16x9">
               <video id="video" width="100%" height="auto"  muted autoplay loop playsinline poster="{% static 'img/poster.png' %}">
  <source src="{% static 'img/video.mp4' %}" type="video/mp4">
  Your browser does not support the video tag.
</video>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Reservation End -->
{% endblock  %}